{% extends 'base.html' %}

{% block content %}
    <div class="container-github-login">    
    {% include 'parciais/_messages.html' %}
    <h2>Homepage</h2>
    <p>Hello <a href="https://github.com/{{ github_login.extra_data.login }}/" target="_blank">{{ github_login.extra_data.login }}</a></p>
    </div>
    <div class="container pt-5">
        {% if common_tags %}
            <p>Common Tags: 
            {% for mt in common_tags %}
                <a href="#" class="badge badge-success">{{mt}}</a>
            {% endfor %}
        {% endif %}
        </p>
        <div class="row mb-2 repositories">
                {% for repo in repositories %}
                <div class="col-md-6">
                    <div class="cards">
                        <div class="row no-gutters border rounded  flex-md-row mb-4 shadow-sm h-md-250">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="my-1"><a href="{% url 'home_view' %}">{{repo.name}}</a></h3>
                                <div style="display:flex">
                                    {% for tag in repo.tags.all %}
                                    <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
                                    {% endfor %}
                                </div>
                                {% if repo.description != None%}
                                <p class="mb-auto">{{repo.description}}</p>
                                {% endif %}
                                <form action="{% url 'register_tag' repo.repo_id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Add new Tags</label>
                                    <input type="text" data-role="tagsinput" class="form-control" name="tags">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>       
                </div>
                {% endfor %}
        </div>
    </div>    
{% endblock content %}            